:host {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host([axis="vertical"]) {
  padding: 6px 8px;
  margin: -6px -8px;
  width: 100%;
  left: 0;
}

:host([axis="vertical"][position="start"]) {
  top: 0;
}

:host([axis="vertical"][position="end"]) {
  bottom: 0;
}

:host([axis="horizontal"]) {
  padding: 8px 6px;
  margin: -8px -6px;
  height: 100%;
  top: 0;
}

:host([axis="horizontal"][position="start"]) {
  inset-inline-start: 0;
}

:host([axis="horizontal"][position="end"]) {
  inset-inline-end: 0;
}
