:host {
  position: absolute;
  width: 100%;
  container-type: size;
  touch-action: none;
  --background-color: var(--event-card-background, var(--event-card-default-bg));
}

:host > div {
  width: max(0px, calc((100% / var(--days)) * var(--width) - var(--indentation, 0px)));
  left: var(--left);
  margin-left: calc((100% / var(--days)) * var(--margin-left) + var(--indentation, 0px));
  z-index: var(--z-index, 1);
  transform: scale(var(--event-card-scale, 1));
}

::slotted(*) {
  position: absolute;
}
